/* CSS for application */
.Bhuvesh-container /* align items in the middle*/{
  max-width: 90%; /* Adjust as needed */
  margin: 0 auto;
}

.Bhuvesh-apply-box /* general design of application */{
  max-width: 90%;
  padding: 2.5%;
  margin: 0 auto;
  margin-top: 2.5%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4em; 
}

.Bhuvesh-h1 /* style for biggest heading */{
  font-size: 2em;
  text-align: center;
}

.Bhuvesh-form-container /* spacing around the application */{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.Bhuvesh-input,
.Bhuvesh-file-input,
.Bhuvesh-textarea /* styles for each input box */{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2% 2%; /* Adjust the padding value as needed */
  border: 1px solid white; /* Set border color to white */
}

.Bhuvesh-form-control,
.Bhuvesh-form-control-email {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2% 2%; /* Adjust the padding value as needed */
}

.Bhuvesh-label {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: center;
}

.Bhuvesh-input,
.Bhuvesh-select,
.Bhuvesh-textarea {
  padding: 1% 2%; /* Adjust the padding value as needed */
  border-radius: 4px;
  font-size: 1em; /* Change to em for relative sizing */
  background-color: transparent;
}

.Bhuvesh-name,
.Bhuvesh-email,
.Bhuvesh-linkedin {
  flex-basis: 100%; /* Make the sections full width */
}

.Bhuvesh-button-container {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.Bhuvesh-button {
  background-color: transparent;
  border: white solid 2px;
  color: white;
  border-radius: 1.2em; /* Change to em for relative sizing */
  padding: 1% 2%; /* Adjust the padding value as needed */
  font-size: 1em; /* Change to em for relative sizing */
  transition: transform 0.4s ease-out;
}

.Bhuvesh-button:hover {
  background-color: #50b6bc;
  border: 2px solid white;
  transform: scale(1.05);
  cursor: pointer;
}

.Bhuvesh-textarea-control {
  grid-column: 1 / span 2;
}

.Bhuvesh-textarea-control .Bhuvesh-textarea {
  width: 100%;
}


/* Accesibility button*/
  #accessibilityButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #50b6bc;
    border-radius: 8px; /* Slightly rounded corners */
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px; /* Slightly smaller font size */
  }
/* Nav Bar*/
html{
    scroll-behavior: smooth;
}
.imgBxsa{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(./img.png);
    background-size: cover;
    background-position: center;
}
.imgBx1sa{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100vh;
    background: url(./img.png);
    background-size: cover;
    background-position: center;
}
::-webkit-scrollbarsa{
    width: 10px;
}
::-webkit-scrollbar-tracksa{
    background: #fff;
}
::-webkit-scrollbar-thumbsa{
    background: #0718c4;
    border: 3px solid #fff;
    border-radius: 8px;
    transition: .3s ease;
}
::-webkit-scrollbar-thumbsa:hover{
    background: #0718c4aa;
}
headersa{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: .6s;
    z-index: 10000;
}
headersa.stickysa{
    padding: 5px 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
headersa .logosa{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .6s;
}
headersa ulsa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
headersa ulsa li{
    position: relative;
    list-style: none;
}
headersa ulsa li asa{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1.3em;
    transition: .6s;
    text-transform: capitalize;
}
togglesa{
    display: none;
}

/* Responsivesa */
@media (max-width: 992px){
    togglesa{
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    togglesa::beforesa{
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        box-shadow: 0 10px 0 #fff;
        transition: .5s;
    }
    togglesa::aftersa{
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #fff;
        z-index: 1;
        transition: .5s;
    }
    headersa.active .togglesa::beforesa{
        top: 14px;
        transform: rotate(45deg);
        box-shadow: 0 0 0 #fff;
    }
    headersa.active .togglesa::aftersa{
        bottom: 14px;
        transform: rotate(-45deg);
    }
    headersa ulsa{
        position: absolute;
        top: 59px;
        left: 110px;
        width: 100%;
        height: calc(100vh);
        padding: 50px 100px;
        visibility: hidden;
        opacity: 0;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    headersa.active ulsa{
        left: 0%;
        background: #fff;
        visibility: visible;
        opacity: 1;
        transition: .5s ease;
    }
    headersa.active ulsa li asa{
        margin: 5px 0;
        font-size: 24px;
    }
    headersa,
    headersa.stickysa{
        padding: 5px 50px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    headersa.active ulsa li asa{
        color: #000;
    }
}

/*"I'm a" animated text*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body
{
    min-height: 100vh;
    background: #262626;
}
#h2ani
{
    display: inline-block;
    color: #fff;
    font-size: 4em;
    font-weight : 600;
    padding: 0 100px;
}
#h2ani span
{
    position: relative; 
    color: transparent;
    -webkit-text-stroke: 1px #50b6bc;
    line-height: 1.2em; 
    padding: 5px 10px;
    animation: displayText 12s infinite; 
    animation-delay: calc(-3s * var(--i));
}
    @keyframes displayText 
{
    0%
    {
        display: inline-block;
    }
    25%, 100%
    {
        display: none;
    }
}
#h2ani span::before
{
    content: attr(data-text);
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 100%; 
    color:#50b6bc;
    overflow: hidden; 
    border: 2px solid #50b6bc;
    box-sizing: border-box; 
    border-radius: 10px; 
    padding: 5px 10px;
    animation: animate 3s linear infinite;
    filter: drop-shadow(0 0 1px #50b6bc) drop-shadow(0 0 25px #50b6bc);
}
@keyframes animate
{
    0%, 10%,100%
    {
        width: 0%;
    }
    70%,90%
    {
        width: 100%;
    }
}
/* End of CSS for "I'm a" animated text*/

/* Beg of CSS for positions */

#sranewpos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px; 
}

#sranewpos2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 20px;
}

#sraacontiner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}

/*each box has its own batch of css, here is the first one, and it is all the same for the rest but the number next to "sraabox" is +1*/

/*box0*/
#sraacontiner #sraabox {
    position: relative;
    width: 300px; 
    height: 400px; 
    margin: 40px;
    background: rgba(255,255,255,0.1); 
    border-radius: 20px; 
    transform-style: preserve-3d;
}

#sraacontiner #sraabox #sraah2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

#sraacontiner #sraabox:hover #sraah2 {
    top: 15px;
    opacity: 1;
}

#sraacontiner #sraabox #sralearnm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    opacity: 0;
}

#sraacontiner #sraabox:hover #sralearnm {
    opacity: 1;
}

#sraacontiner #sraabox #sraproduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 70%;
    transition: 0.5s;
}

#sraacontiner #sraabox:hover #sraproduct {
    transform: translate3d(-50%,-50%,100px);
}
/*end of box 0*/

/* beg box 1*/
#sraacontiner #sraabox1 {
    position: relative;
    width: 300px; 
    height: 400px; 
    margin: 40px;
    background: rgba(255,255,255,0.1); 
    border-radius: 20px; 
    transform-style: preserve-3d;
}

#sraacontiner #sraabox1 #sraah2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

#sraacontiner #sraabox1:hover #sraah2 {
    top: 15px;
    opacity: 1;
}

#sraacontiner #sraabox1 #sralearnm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    opacity: 0;
}

#sraacontiner #sraabox1:hover #sralearnm {
    opacity: 1;
}

#sraacontiner #sraabox1 #sraproduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 70%;
    transition: 0.5s;
}

#sraacontiner #sraabox1:hover #sraproduct {
    transform: translate3d(-50%,-50%,100px);
}
/*end of box 1*/

/* beg box 2*/
#sraacontiner #sraabox2 {
    position: relative;
    width: 300px; 
    height: 400px; 
    margin: 40px;
    background: rgba(255,255,255,0.1); 
    border-radius: 20px; 
    transform-style: preserve-3d;
}

#sraacontiner #sraabox2 #sraah2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

#sraacontiner #sraabox2:hover #sraah2 {
    top: 15px;
    opacity: 1;
}

#sraacontiner #sraabox2 #sralearnm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    opacity: 0;
}

#sraacontiner #sraabox2:hover #sralearnm {
    opacity: 1;
}

#sraacontiner #sraabox2 #sraproduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 70%;
    transition: 0.5s;
}

#sraacontiner #sraabox2:hover #sraproduct {
    transform: translate3d(-50%,-50%,100px);
}
/*end of box 2*/

/* beg box 3*/
#sraacontiner #sraabox3 {
    position: relative;
    width: 300px; 
    height: 400px; 
    margin: 40px;
    background: rgba(255,255,255,0.1); 
    border-radius: 20px; 
    transform-style: preserve-3d;
}

#sraacontiner #sraabox3 #sraah2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

#sraacontiner #sraabox3:hover #sraah2 {
    top: 15px;
    opacity: 1;
}

#sraacontiner #sraabox3 #sralearnm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    opacity: 0;
}

#sraacontiner #sraabox3:hover #sralearnm {
    opacity: 1;
}

#sraacontiner #sraabox3 #sraproduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 70%;
    transition: 0.5s;
}

#sraacontiner #sraabox3:hover #sraproduct {
    transform: translate3d(-50%,-50%,100px);
}
/*end of box 3*/

/* beg box 4*/
#sraacontiner #sraabox4 {
    position: relative;
    width: 300px; 
    height: 400px; 
    margin: 40px;
    background: rgba(255,255,255,0.1); 
    border-radius: 20px; 
    transform-style: preserve-3d;
}

#sraacontiner #sraabox4 #sraah2 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    color: #fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
}

#sraacontiner #sraabox4:hover #sraah2 {
    top: 15px;
    opacity: 1;
}

#sraacontiner #sraabox4 #sralearnm {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform-style: preserve-3d;
    color: #fff;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    transform: translate3d(-50%,0,80px);
    width: 120px;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    opacity: 0;
}

#sraacontiner #sraabox4:hover #sralearnm {
    opacity: 1;
}

#sraacontiner #sraabox4 #sraproduct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    max-width: 70%;
    transition: 0.5s;
}

#sraacontiner #sraabox4:hover #sraproduct {
    transform: translate3d(-50%,-50%,100px);
}
/*end of box 4*/
