.custom-container {
    max-width: 900px;
    margin: 0px auto;
}

.unique-apply-box {
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.unique-form-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.unique-form-control {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.unique-form-control-email {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.unique-textarea {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.unique-cover-letter-container {
    width: 100%;
    margin-top: 20px;
}

.unique-button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

label {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 15px;
    background-color: transparent;
}

.unique-form-control-email input,
.unique-textarea textarea {
    width: 100%;
}

button {
    background-color: transparent;
    border: black solid 2px;
    color: black;
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 16px;
    transition: transform 0.4s ease-out;
}

button:hover {
    background-color: pink;
    border: 2px solid black;
    transform: scale(1.05);
    cursor: pointer;
}
